<nav class="topNav">
    <button class="button is-info" onclick="hideFunction()">Make a Post</button>
    <a class="topLinks" target= "_blank" href="https://github.com/oicochea"> Github</a>
    <a class="topLinks" target= "_blank"href="https://www.linkedin.com/in/oscaricocheacalenzani/"> Linkedin</a>
    <a class="topLinks"  href="#projectsContainer">Projects</a>
    <a class="topLinks"target= "_blank"href="https://docs.google.com/document/d/e/2PACX-1vQ8V0YglEIJD2cpvuDU3zPeFE-O2UnALJFHtFKbFrIR4VFWuqr5Xww9Lf7MHDO60yiSBaWEzPzkAwWc/pub">Resume</a>
    <a class="topLinks"href="#contactMeContainer">Contact Me</a>
  </nav>

<p class="welcome">Welcome to my 100 days of code Blog</p>

