<nav class="topNav">
    <a class="topLinks" id="createPost"onclick="hideFunction()">Make a Post</a>
    <a class="topLinks" target= "_blank" href="https://github.com/oicochea"> Github</a>
    <a class="topLinks" target= "_blank"href="https://www.linkedin.com/in/oscaricocheacalenzani/"> Linkedin</a>
    <a class="topLinks" target= "_blank" href="https://hungry-hypatia-ae001a.netlify.app/">Portfolio</a>
    <a class="topLinks"target= "_blank"href="https://docs.google.com/document/d/1rwyiVKHzGaji8JW1Gy1w1fpwCBQKaKIVHK5x0sdPF8I/edit?usp=sharing">Resume</a>
  </nav>

<p class="welcome">Welcome to my 100 days of code Blog</p>

