<app-header></app-header>

<h2>Create a New Blog Post</h2>
<button onclick="hideFunction()">Make a Post</button>
<div id="formContainer">
<form (submit)="createPost()">
    <label>Title</label>
    <input class="input"type="text" [(ngModel)]="createTitle" name="title" #ctrl="ngModel" />
    <label>Date</label>
    <input class="input" type="date" [(ngModel)]="createDate" name="date" #ctrl="ngModel" />
    <label>Blog</label>
    <input class="textarea" type="text" [(ngModel)]="createBody" name="body" #ctrl="ngModel" />
    <label>Code Snipped URL</label>
    <input  class="input"type="text" [(ngModel)]="createImg" name="img" #ctrl="ngModel" />
    <input type="submit" value="create New Post" />
</form>
</div>

<h2 class="myPosts">Posts</h2>
<article *ngFor = "let post of posts">
    <div class="box">
    <h3>{{post.title}}</h3>
    <h3>{{post.date}}</h3>
    <p>{{post.body}}</p>    
    <div *ngIf="post.img">
    <img src="{{post.img}}" alt="code snippet" width="300">
    </div>
</div>

</article>
<router-outlet></router-outlet>
<app-footer></app-footer>
