<app-header></app-header>
<!-- 
<h2>Create a New Blog Post</h2> -->
<!-- <button class="button is-info" onclick="hideFunction()">Make a Post</button> -->
<div id="formContainer">
<form (submit)="createPost()">
    <label>Title</label>
    <input class="input"type="text" [(ngModel)]="createTitle" name="title" #ctrl="ngModel" />
    <label>Date</label>
    <input class="input" type="date" [(ngModel)]="createDate" name="date" #ctrl="ngModel" />
    <label>Blog</label>
    <textarea rows="6" cols="20" wrap="hard" class="textarea" type="text" [(ngModel)]="editBody" name="body" #ctrl="ngModel"></textarea>
    <label>Code Snipped URL</label>
    <input  class="input"type="text" [(ngModel)]="createImg" name="img" #ctrl="ngModel" />
    <input class="button is-success"  onclick="hideFunction()" type="submit" value="create New Post" />
</form>
</div>
<div id="editForm">
<form (submit)="updatePost()">
    <label>Title</label>
    <input class="input"type="text" [(ngModel)]="editTitle" name="title" #ctrl="ngModel" />
    <label>Date</label>
    <input class="input" type="date" [(ngModel)]="editDate" name="date" #ctrl="ngModel" />
    <label>Blog</label>
    <textarea rows="6" cols="20" wrap="hard" class="textarea" type="text" [(ngModel)]="editBody" name="body" #ctrl="ngModel"></textarea>
    <label>Code Snipped URL</label>
    <input  class="input"type="text" [(ngModel)]="editImg" name="img" #ctrl="ngModel" />
    <input class="button is-success" onclick="hideEditFunction()" type="submit" value="Edit Post" />
</form>
</div>

<h2 class="myPosts">Posts</h2>
<article *ngFor = "let post of posts">
    <div class="box">
    <p class="postTitle">{{post.title}}</p>
    <p class="postDate">Date Posted:{{post.date}}</p>
    <p class="postBody">{{post.body}}</p>    
    <div *ngIf="post.img">
    <img class="postImg"src="{{post.img}}" alt="code snippet">
    </div>
    <button class="button is-success" (click)="editSelect(post)" onclick="hideEditFunction()">Edit</button>
</div>

</article>
<router-outlet></router-outlet>
<app-footer></app-footer>
