body{
    text-align: center;
}
.box{
    margin: auto;
    width: 60%;
    height: min-content;
}

article{
    margin-bottom: 5%
 
}

#formContainer{
    text-align: left;
    display: none;
}

.welcome{
    margin-top: 20px;
    margin-bottom: 20px;
}

.myPosts{
    margin-top: 5%;
}

form{
    margin: auto;
    width: 40%;
}