:root{
        --ff-primary: 'Source Sans Pro', sans-serif;
        --ff-secondary: 'Source Code Pro', monospace;
        --fw-reg: 300;
        --fw-bold: 900;
}

body{
    text-align: center;
    background-color:lightgray;
    color: black;
}
.box{
    margin: auto;
    width: 60%;
    height: min-content;
}

article{
    margin-bottom: 5%
 
}

#formContainer{
    text-align: left;
    display: none;
}
#editForm{
    text-align: left;
    display: none;

}

.welcome{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
}

.myPosts{
    margin-top: 5%;
}

form{
    margin: auto;
    width: 40%;
}

.topNav{
    background-color:black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content:flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:60px;
    margin-bottom: 30px;
  }
  .topNav a{
    padding-bottom: 10px;
    color:white;
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    padding-top: 10px;
  
  
  }
  
  a.topLinks
  {
      position: relative;
  }
  
  a.topLinks:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  a.topLinks:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .postTitle {
      font-family: var(--ff-primary);
      font-weight: var(--fw-bold);
      font-size: 24px;
      text-align: left;
  }
  .postDate{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
  }

.postBody{
    font-family: var(--ff-primary);
    text-align: left;
    margin-top: 15px;
    font-size: 18px;
    font-weight: var(--fw-reg);
    margin-bottom: 15px;
}
  .postImg{
      width: 400px;
      margin-bottom: 10px;
  }
     #createPost{
      background-color: black;
      margin-right: 60%;
  }
 
